
body {
  background-color: #FFFDF8;
}

a[target="_blank"] {
  font-weight: bold;
}

.step-title {
  font-weight: bold;
  font-size: 1.2em;
}

pre.is-thinner {
  margin: 0em 2.3em;
}

table.is-thinner {
  margin: 0em 1.5em;
  width: 90%;
}
