body.dark {
  background-color: #091C32;
  color: #4A6488;
}

body.dark hr {
  background-color: #293045;
}

body.dark .navbar {
  background-color: #223C5B;
}

body.dark .navbar-item, body.dark .navbar-link {
  color: #52596E;
}

body.dark .title {
  color: #4A6488;
}

body.dark .label {
  color: #4A6488;
}

body.dark .table {
  color: #4A6488;
  border: #4A6488;
}

body.dark .table th, body.dark .table td {
  color: #4A6488;
  border-color: #293045;
}

body.dark .content table th, body.dark .content table td {
  border-color: #293045;
}

body.dark .input, body.dark .textarea, body.dark .select select {
  background-color: #293045;
  color: #DBDBDB;
}

body.dark .radio {
  background-color: #293045;
  border-color: #223C5B;
  color: #DBDBDB;
}

body.dark svg.rubiks {
  color: #4A6488;
}

body.dark .clyde {
  fill: white;
}
