/* General site changes */

body {
  background-color: #FFFDF8;
  counter-reset: section;
}

a[target="_blank"] {
  font-weight: bold;
}

.navbar {
  border: 1px solid #DBDBDB;
}

.table {
  background-color: transparent;
  line-height: 1;
}


/* Utilities */

.position-relative {
  position: relative;
}

figure.is-bordered img {
  border: 8px solid #DBDBDB;
  border-radius: 8px;
}

figure.max-1024 img {
  max-width: 1024px;
}

figure.max-800 img {
  max-width: 800px;
}

figure.max-600 img {
  max-width: 600px;
}

figure.max-400 img {
  max-width: 400px;
}

.step-title {
  font-weight: bold;
  font-size: 1.2em;
}

.step-title::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero) ". ";
}

pre.is-thinner {
  margin: 0em 2.3em;
}

table.is-thinner {
  margin: 0em 1.5em;
  width: 90%;
}

.word-break-all {
  word-break: break-all;
}

.white-space-nowrap {
  white-space: nowrap;
}


/* Specific cases */

svg.rubiks {
  color: #FFFDF8;
}

.clyde {
  fill: black;
}
