body {
  background-color: #FFFDF8;
  counter-reset: section;
}

.navbar {
  border: 1px solid #DBDBDB;
}

a[target="_blank"] {
  font-weight: bold;
}

.step-title {
  font-weight: bold;
  font-size: 1.2em;
}

.step-title::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero) ". ";
}

pre.is-thinner {
  margin: 0em 2.3em;
}

.table {
  background-color: transparent;
  line-height: 1;
}

table.is-thinner {
  margin: 0em 1.5em;
  width: 90%;
}

.word-break-all {
  word-break: break-all;
}

svg.rubiks {
  color: #FFFDF8;
}
