[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"                # https://pypi.org/project/selenium/
pylint = "*"                  # https://pypi.org/project/pylint/

[packages]
async-timeout = "4.0.3"       # backward compatability for python < 3.11
aiohttp = "3.11.12"           # https://pypi.org/project/aiohttp/
aiofiles = "24.1.0"           # https://pypi.org/project/aiofiles/
sqlalchemy = "2.0.38"         # https://pypi.org/project/sqlalchemy/
vdf = "3.4"                   # https://pypi.org/project/vdf/
rcon = "2.4.9"                # https://pypi.org/project/rcon/
upnpy = "1.1.8"               # https://pypi.org/project/upnpy/
prometheus-client = "0.21.1"  # https://pypi.org/project/prometheus-client/

[requires]
python_version = "3.12"
