[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiofiles = "*"
async-timeout = "4.0.3"  # for backward compatability
sqlalchemy = "*"
vdf = "*"
rcon = "*"
upnpy = "*"
prometheus-client = "*"

[requires]
python_version = "3.12"
