[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiofiles = "*"
vdf = "*"
rcon = "*"
upnpy = "*"

[requires]
python_version = "3.10"
