[FORMAT]

ignore-long-lines=^#.*$

max-line-length=120


[MESSAGES CONTROL]

disable=raw-checker-failed,bad-inline-option,locally-disabled,file-ignored,suppressed-message,useless-suppression,
  deprecated-pragma,use-symbolic-message-instead,use-implicit-booleaness-not-comparison-to-string,
  use-implicit-booleaness-not-comparison-to-zero, # DEFAULTS END HERE
  missing-module-docstring,missing-class-docstring,missing-function-docstring,
  too-many-arguments,too-many-positional-arguments,too-many-instance-attributes,too-few-public-methods,
  too-many-return-statements,useless-return,
  broad-exception-raised,broad-exception-caught,
  use-dict-literal,protected-access,duplicate-code,unused-variable,
  invalid-overridden-method,unbalanced-tuple-unpacking,unspecified-encoding,
  no-member  # TODO maybe fix this
