html {
  background-color: #202923;
  background-image:
    radial-gradient(circle, rgba(180, 205, 190, 0.07) 0 0.7px, transparent 0.9px),
    radial-gradient(circle, rgba(140, 170, 150, 0.035) 0 1px, transparent 1.2px),
    radial-gradient(circle, rgba(5, 20, 12, 0.10) 0 0.8px, transparent 1px),
    radial-gradient(circle, rgba(10, 28, 17, 0.05) 0 1.2px, transparent 1.5px);
  background-size: 4px 4px, 9px 9px, 7px 7px, 15px 15px;
  background-position: 0 0, 3px 2px, 1px 4px, 6px 3px;
}

body {
  font-family: "Arial", sans-serif;
  font-size: clamp(1.1rem, 1.6vw, 6rem);
  color: ivory;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: lowercase;
}

h1, h3 {
  text-align: center;
}

h2 {
  margin-bottom: 0.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ol, ul, li {
  margin: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  text-transform: lowercase;
  padding: 0.01em 1em 0.01em 0.01em;
}

td {
  font-family: "Courier New", monospace;
  padding: 0.01em;
}

td.idx {
  padding-right: 0.3em;
  text-align: right;
}

td.left {
  width: 100%;
}

td.right {
  white-space: nowrap;
  text-align: right;
}

.font-monospace {
  font-family: "Courier New", monospace;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.dashcontainer {
  margin: clamp(0.8rem, 2vw, 4rem) clamp(0.8rem, 12vw - 2rem, 100rem);
  border: solid 0.35em rgba(0, 16, 0);
  border-radius: 1em;
  overflow: hidden;
}

.dashpanel {
  background-color: rgba(8, 16, 8, 0.6);
  padding: clamp(0.65rem, 2vw, 6rem);
}

.dashpanel.statbox {
  display: flex;
  align-items: center;
}

.dashpanel.statbox > div:first-child {
  flex: 0 0 auto;
}

.dashpanel.statbox > div:last-child {
  flex: 1;
  text-align: right;
  padding-right: calc(6vw - 0.6rem);
}

.dashpanel.statbox.is-black {
  background: linear-gradient(to right, rgba(8, 16, 8, 0.6) 0%, rgba(0, 8, 0, 0.5) 66%, rgba(0, 8, 0, 0.9) 90%);
}
.dashpanel.statbox.is-green {
  background: linear-gradient(to right, rgba(8, 16, 8, 0.6) 0%, rgba(8, 24, 8, 0.5) 68%, lime 92%);
}
.dashpanel.statbox.is-yellow {
  background: linear-gradient(to right, rgba(8, 16, 8, 0.6) 0%, rgba(24, 20, 0, 0.5) 68%, #FFBF00 92%);
}
.dashpanel.statbox.is-red {
  background: linear-gradient(to right, rgba(8, 16, 8, 0.6) 0%, rgba(24, 8, 8, 0.5) 68%, red 92%);
}
.dashpanel.statbox.is-green > div:last-child, .dashpanel.statbox.is-yellow > div:last-child {
  color: rgba(0, 8, 0);
}

.flex-columns {
  display: flex;
  gap: 1em;
}

.flex-column {
  flex: 1;
}

@media (max-width: 1024px) {
  .flex-columns {
    flex-direction: column;
    gap: 0;
  }

  td.right {
    padding-right: calc(36vw - 3rem);
  }
}

@media (max-width: 480px) {
  .dashcontainer {
    margin: clamp(0.8rem, 2vw, 4rem) 0;
    border: 0;
    border-radius: 0;
  }

  .dashcontainer:first-child {
    margin: 0;
  }
}

.running-state {
  font-size: 1.3em;
  font-weight: bold;
}

.availability-percent {
  font-size: 1.4em;
  font-weight: bold;
}

#PlayerOnline div:first-child {
  min-height: 3em;
}

.tpt-value {
  font-size: 1.3em;
  font-weight: bold;
}

.tpt-label {
  font-size: 0.9em;
}

.footpad {
  height: 1.2em;
}
