/* BASE */

html {
  background-color: #1B2838;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: #ACB2B8;
}

a {
  color: #EBEBEB;
}

a:hover {
  color: #DDDD22;
}

a:active {
  color: #EBEBEB;
}

h1 {
  font-size: 20px;
  color: #EBEBEB;
}

h2 {
  font-size: 17px;
  color: #EBEBEB;
}

div.divider {
  margin: 22px 8px 0px 8px;
}

div.divider hr {
  margin: 0px;
  border: 1px solid #666666;
}

input, select {
  height: 30px;
  font-size: 16px;
  color: #EBEBEB;
  background-color: #16202D;
  border: 1px solid black;
}

select {
  min-width: 200px;
}

select option {
  background-color: #16202D;
}

ul, ol {
  background-color: #16202D;
  line-height: 1.45em;
  margin: 2px 0px;
  padding: 6px 0px 6px 26px;
  min-height: 16px;
}

li {
  white-space: nowrap;
  margin: 2px 0px 2px 8px;
  padding: 0px 0px 0px 2px;
}

button {
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #172030;
  font-weight: bold;
  color: white;
  background-color: #417B9C;
}

button:disabled {
  cursor: not-allowed;
  color: #ACB2B8;
  background-color: #444444;
}

button:not(:disabled):hover {
  background-color: #5AA9D6;
}

button:not(:disabled):active {
  background-color: #417B9C;
}

button.process {
  min-width: 100px;
  height: 28px;
}

button.process.is-wide {
  min-width: 200px;
}

button.process.hero {
  background-color: #5C7E10;
}

button.process.hero:disabled {
  cursor: not-allowed;
  color: #ACB2B8;
  background-color: #444444;
}

button.process.hero:not(:disabled):hover {
  background-color: #B6D908;
}

button.process.hero:not(:disabled):active {
  background-color: #5C7E10;
}

button.action {
  width: 22px;
  height: 22px;
  border: 1px solid #666666;
}

button.action:hover {
  border: 1px solid white;
}

button.action.arrow-down {
  background: url("/images/arrow-down.svg") center no-repeat;
}

button.action.arrow-down-to-line {
  background: url("/images/arrow-down-to-line.svg") center no-repeat;
}

button.action.chevron-up {
  background: url("/images/chevron-up.svg") center no-repeat;
}

button.action.chevron-down {
  background: url("/images/chevron-down.svg") center no-repeat;
}

button.action.cross {
  background: url("/images/cross.svg") center no-repeat;
}


/* SPECIFIC */

.header-container h1 {
  margin: 8px 0;
  letter-spacing: 0.1em;
}

.error-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(22, 32, 45, 0.9);
  backdrop-filter: blur(3px);
}

.error-container > div {
  margin: 32px 16px;
  font-size: 1.1em;
  color: #EBEBEB;
}

.error-header {
  font-weight: bold;
  color: red;
}

.no-mod-message {
  margin: 40px 0;
}

.save-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(22, 32, 45, 0.8);
  backdrop-filter: blur(3px);
}

.save-button > div {
  margin: 12px 8px;
}


/* UTILITIES */

.warning-text {
  font-style: italic;
  color: #DDDD22;
}

.footer-space {
  margin-top: 120px;
}

.white-space-nowrap {
  white-space: nowrap;
}
