html {
  background-color: #1B2838;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: #ACB2B8;
}

a {
  color: #EBEBEB;
}

h1 {
  font-size: 20px;
  color: #EBEBEB;
}

h2 {
  font-size: 17px;
  color: #EBEBEB;
}

div.divider {
  margin: 22px 8px 0px 8px;
}

div.divider hr {
  margin: 0px;
  border: 1px solid #666666;
}

input, select {
  height: 30px;
  font-size: 16px;
  color: #EBEBEB;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

select {
  min-width: 200px;
}

button {
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #172030;
  font-weight: bold;
  color: white;
  background: #417B9C;
}

button:disabled {
  cursor: not-allowed;
  color: #ACB2B8;
  background: #444444;
}

button:not(:disabled):hover {
  background: #5AA9D6;
}

button.process {
  width: 100px;
  height: 28px;
}

button.process.hero {
  background: #5C7E10;
}

button.process.hero:disabled {
  cursor: not-allowed;
  color: #ACB2B8;
  background: #444444;
}

button.process.hero:not(:disabled):hover {
  background: #B6D908;
}

button.action {
  width: 22px;
  height: 22px;
  border: 1px solid #666666;
}

button.action:hover {
  border: 1px solid white;
}

button.action.arrow-down {
  background: url("/images/arrow-down.svg") center no-repeat;
}

button.action.arrow-down-to-line {
  background: url("/images/arrow-down-to-line.svg") center no-repeat;
}

button.action.chevron-up {
  background: url("/images/chevron-up.svg") center no-repeat;
}

button.action.chevron-down {
  background: url("/images/chevron-down.svg") center no-repeat;
}

button.action.cross {
  background: url("/images/cross.svg") center no-repeat;
}

ul, ol {
  background: rgba(0, 0, 0, 0.2);
  margin: 2px 0px;
  padding: 6px 0px 6px 26px;
  min-height: 16px;
}

li {
  white-space: nowrap;
  margin: 2px 0px;
}

li span {
  display: inline-block;
  vertical-align: middle;
}

.text-error {
  font-weight: bold;
  color: red;
}

.text-warning {
  font-style: italic;
  color: #DDDD22;
}
