
html {
  background-color: rgb(27, 40, 56);
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: #ACB2B8;
}

h1 {
  font-size: 20px;
  /* color: #EBEBEB; */
}

h2 {
  font-size: 17px;
  /* color: #EBEBEB; */
}

input, select {
  font-size: 16px;
}

button {
  cursor: pointer;
}

button.process {
  width: 100px;
  color: red;
}

button.action {
  width: 22px;
  height: 22px;
}

button.action.arrow-down {
  background: url("/images/arrow-down.svg") center no-repeat;
}

button.action.arrow-down-to-line {
  background: url("/images/arrow-down-to-line.svg") center no-repeat;
}

button.action.chevron-up {
  background: url("/images/chevron-up.svg") center no-repeat;
}

button.action.chevron-down {
  background: url("/images/chevron-down.svg") center no-repeat;
}

button.action.cross {
  background: url("/images/cross.svg") center no-repeat;
}

li {
  white-space: nowrap;
}

.text-error {
  font-weight: bold;
  color: red;
}

.text-warning {
  font-style: italic;
  color: yellow;
}
